:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-comfortaa: "Comfortaa", cursive;
  --yellow: #fdc435;
}

body {
  margin: 20px;
}
h1 {
  position: static;
  font-size: 64px;
  font-family: var(--font-family-roboto);
  font-weight: bold;
  line-height: 77px;
}
h2 {
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 24px;
  color: var(--yellow);
  font-family: var(--font-family-nunito);
}
.form-label {
  font-family: var(--font-family-nunito);
}

.input-information {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.navbar-brand {
  font-family: var(--font-family-comfortaa);
  font-weight: 700px;
}
.navbar-nav {
  font-family: var(--font-family-comfortaa);
  font-weight: 500px;
  font-size: 18px;
}
footer {
  font-size: 24px;
}

.project-description {
  background: #f5f2fe;
}
p {
  font-family: var(--font-family-nunito);
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 42px;
    line-height: 1.5;
  }
  .personal-picture {
    max-width: 350px;
  }
  .hero a {
    display: inline;
  }
}
