:root {
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-comfortaa: "Comfortaa", cursive;
  --yellow: #fdc435;
  --background-color: #f6f1fe;
}

body {
  margin: 20px 80px;
}
h1 {
  position: static;
  font-size: 64px;
  font-family: var(--font-family-roboto);
  font-weight: bold;
  line-height: 77px;
}
h2 {
  font-family: "Playfair Display", serif;
}
h3 {
  font-size: 24px;
  color: var(--yellow);
  font-family: var(--font-family-nunito);
}
.hero {
  text-align: left;
}
.form-label {
  font-family: var(--font-family-nunito);
}

.input-information {
  display: block;
  margin: 0 auto;
  width: 400px;
}
.container-fluid {
  padding-left: 0px;
}
.navbar-brand {
  font-family: var(--font-family-comfortaa);
  font-weight: 700px;
}
.navbar-nav {
  font-family: var(--font-family-comfortaa);
  font-weight: 500px;
  font-size: 18px;
  text-align: left;
}
footer {
  font-size: 24px;
}

.project-description {
  padding: 100px auto;
  text-align: center;
  margin: 0 auto;
}
.project {
  background: var(--background-color);
  margin: 0 auto;
  max-width: 1300px;
}
.project-image {
  padding: 20px;
  margin: 0 auto;
}
p {
  font-family: var(--font-family-nunito);
}
.personal-picture {
  max-width: 600px;
}
.work-inquiry {
  background: var(--background-color);
  max-width: 800px;
  border-radius: 10px;
  padding: 30px auto;
}
@media (max-width: 768px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 42px;
    line-height: 1.2;
  }
  h3 {
    font-size: 16px;
  }
  .personal-picture {
    max-width: 350px;
  }
  .hero a {
    display: inline;
  }
  .form-cover {
    display: flex;
    text-align: left;
  }
}
